<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Appenders>
        <File name = "LogToFile" filename = "logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %n%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name = "io.testpro" level ="debug" additivity ="false">
            <AppenderRef ref = "LogToFile"/>
        </Logger>
        <Root level ="info">
            <AppenderRef ref = "LogToFile"/>
        </Root>
    </Loggers>
</Configuration>